In [9]:
c= 0
c=5/2
c

2.5

In [11]:
name,rollno,age = 'python',123,23.5
type(name)

str

In [14]:
# swaping 
a,b=10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [ ]:
# floor division
# exponential
# operaters added in python

In [ ]:
# assignment operaters
# +,-,*,/

In [17]:
# bit wise operaters
# membership operater
5 not in [1,2,3,4]

True

In [22]:
# identity operaters
5 is 5 # True
5 is 10 # False

False

In [20]:
'abc' is 'abc'

True

In [21]:
'abc' is 'bca'

False

In [23]:
# conditional control statements
# we will control flow of program
if (5<6):
    print("true")
else:
    print("False")

true

In [24]:
if (8<6):
    print("true")
elif(6<7):
    print("true")
else:
    print("false")

true

In [25]:
# ittarative statements
# while and for
range(10)

range(0, 10)

In [26]:
range(2,10)

range(2, 10)

In [27]:
range(2,10,2)

range(2, 10, 2)

In [29]:
for x in range(2,10,2):
    print(x,end=" ")

2 4 6 8

In [1]:
# while loop
num=1
while num<6:
    print(num)
    num=num+1

1
2
3
4
5

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [3]:
for i in 1,2,3:
    print(i)

1
2
3

In [5]:
for i in range (10,6-1,-1):
    print(i)

10
9
8
7
6

In [6]:
for i in 1:
    print(i)

TypeError: 'int' object is not iterable

In [7]:
for i in "hai":
    print(i)

h
a
i

In [8]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [9]:
print(1,2)

1 2

In [10]:
print(1,2,sep=",")

1,2

In [11]:
print(1,2,sep="*")

1*2

In [12]:
print(3,4)

3 4

In [13]:
print(1,sep=",")

1

In [ ]:
# jumping statements
# break
# continue

In [19]:
print(1,2,sep=",",end="*")
print(3,4,sep=";")

1,2*3;4

In [22]:
n=input("enter a value: ")
print(n,type(n))

enter a value: 12.3
12.3 <class 'str'>

In [23]:
1+2

3

In [26]:
1+int("2")

3

In [28]:
num=10
print(num)
print(Num)

10

NameError: name 'Num' is not defined

In [31]:
l=[1,10,20]
l[1]

10

In [32]:
l=[1,10,20]
l[3]

IndexError: list index out of range

In [49]:
li=(input().split())
print(len(li))

4 5 2 6 7 8
6

In [53]:
i=(int,input().split())
print(len(i))
i

1 2 3 4 5
2

(int, ['1', '2', '3', '4', '5'])

In [51]:
i=(1,)

In [52]:
type(i)

tuple

In [54]:
data=input()
for char in data:
    print(char)

1 2 3
1

2

3

In [56]:
data=123344
data.split(" ")

AttributeError: 'int' object has no attribute 'split'

In [57]:
data=input()
count=0
for vhar in data.split(" "):
    count+=1
print(count)

1 2 3 4
4

In [58]:
data=input() # 4 num and 3 spaces
len(data)

1 2 3 4

7

In [59]:
data=input() 
len(data.split())

1 2 3 4

4

In [60]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [86]:
data=(input().split(","))
s=0
for i in data:
    s=s+int(i)
print(s)

1,2,3,4,5
15

In [84]:
data=input() #1,3,5
values=data.split(",") #['1','3','5']
s=0
for value in values:
    s+=int(value)
print(s)

1,3,5
9

In [87]:
# map- method name and list of values
l=['1','2',3]
r=[]
for value in l:
    r.append(int(value))
r

[1, 2, 3]

In [96]:
data=input()
values=data.split(",")
int_values=list(map(int,values))
sum(int_values)

1,2,3

6

In [95]:
del sum

In [104]:
data=input()
value=data.split("+")
print(min(value))
print(max(value))

1+2+15+63+3
1
63

In [2]:
#123
text=input()
reverse_text=text[::-1]
for char in reverse_text:
    print(char)

123
3
2
1

In [5]:
a=[print(char) for char in input()[::-1]]

123
3
2
1

In [7]:
#Bharat Sunil

f_name=input()
lname,fname=f_name.split(" ")[::-1]
print(lname[0],fname,sep=". ")

Bharat Sunil
S. Bharat

In [8]:
# 90 80 100
marks=input()
marks_list=list(map(int,marks.split()))
print(sum(marks_list)//len(marks_list))

90 80 100
90

In [9]:
 # 27/06/2019
s=""
print(type(s))

<class 'str'>

In [11]:
s=input()
print(s,type(s))

123
123 <class 'str'>

In [12]:
s= input()
s2= input()
print(s+s2)

123
456
123456

In [15]:
s="12345"
s2 =int(s)
print(s2,type(s),type(s2))

12345 <class 'str'> <class 'int'>

In [16]:
s= "12sai"
s1=int(s)

ValueError: invalid literal for int() with base 10: '12sai'

In [19]:
s1="1"
s2="3"
print(int(s1)+int(s2))
print(type(s1))

4
<class 'str'>

### strings in python

In [25]:
s='pythonprogramming'
print(len(s))

17

In [26]:
s[0]

'p'

In [27]:
s[8]

'o'

In [28]:
s[24]

IndexError: string index out of range

In [29]:
s[-3]

'i'

In [31]:
s[0]='a'

TypeError: 'str' object does not support item assignment

In [32]:
s

'pythonprogramming'

In [34]:
s[0:6]

'python'

In [39]:
s[6:17]

'programming'

In [42]:
s[6:18:2]

'pormig'

In [44]:
s[5:0:-1]

'nohty'

In [46]:
s[6:]

'programming'

In [47]:
s[:]

'pythonprogramming'

In [48]:
s[::-1]

'gnimmargorpnohtyp'

In [49]:
s[:-1]

'pythonprogrammin'

In [50]:
s[::-2]

'gimropotp'

### String Methods
## str.upper

In [53]:
s="python"
print(s.upper())
print(s)

PYTHON
python

In [54]:
s="python"
s=s.upper()
print(s)

PYTHON

### str.lower()

In [56]:
s = "PYTHON"
print(s.lower())
print(s)

python
PYTHON

### str.startswith(sub_string)

In [57]:
s ="python"
print(s.startswith('p'))

True

In [58]:
s ="python"
print(s.startswith('l'))

False

In [59]:
main ='python'
sub = 'p'
print(main.startswith(sub))

True

In [60]:
main ='python'
sub = 'P'
print(main.startswith(sub))

False

In [73]:
main ='python'
sub = 'P'.lower()
print(main.startswith(sub))

True

In [75]:
main ='pyTHhon'.lower()
sub = 'P'.lower()
print(main.startswith(sub))

True

In [76]:
main ='python programming'
print(main.startswith('python'))

True

In [77]:
main = "python programming"
print(main.endswith('ing'))

True

In [79]:
main = "python programming"
print(main.endswith('thon'))

False

## str.isdigit()

In [80]:
s = '123'
print(s.isdigit())

True

In [81]:
s = '12abc3'
print(s.isdigit())

False

In [84]:
s=input("enter number")
if s.isdigit():
    print("success",int(s))
else:
    print("i asked you to give number but given wrong input?")

enter number653u5
i asked you to give number but given wrong input?

### str.split()

In [85]:
s = "python programming"
result = s.split()
print(result,type(result))

['python', 'programming'] <class 'list'>

In [87]:
s = "python programming"
result = s.split()
# print(result,type(result))
print(result[1])

programming

#### str.lstrip()

In [89]:
s= "   bharat "
result=s.lstrip()
print(len(s),len(result),result)

10 7 bharat

In [92]:
s= "   bharat "
result=s.rstrip()
print(len(s),len(result),result)

10 9    bharat

In [95]:
s= "   bharat "
result=s.rstrip()
result=result.lstrip()
print(len(s),len(result),result)

10 6 bharat

In [96]:
s= "   bharat "
result=s.strip()
print(len(s),len(result),result)

10 6 bharat

### str.isupper()

In [97]:
s = "PYTHON"
print(s.isupper())

True

In [98]:
s = "Python"
print(s.isupper())

False

### str.islower()

In [99]:
s = "python"
print(s.islower())

True

In [101]:
s = "PYTHON"
print(s.islower())

False

### str.isalpha()

In [102]:
s = "python"
print(s.isalpha())

True

In [103]:
s = "python123"
print(s.isalpha())

False

### str.swapcase()

In [104]:
s = "pythonPROGRAMMING"
print(s.swapcase())

PYTHONprogramming

### str.title()

In [105]:
s = "python programming"
print(s.title())

Python Programming

In [106]:
s = "PYTHON PROGRAMMING"
print(s.title())

Python Programming

### str.find(sub_string)

In [107]:
s = "python"
print(s.find('o'))

4

In [108]:
s = "python"
print(s.find('b'))

-1

In [109]:
s = "python"
print(s.find('py'))

0

In [110]:
s = "python"
print(s.find('hn'))

-1

### str.replace(old,new)

In [111]:
s = "python"
print(s.replace('n','oon'))

pythooon

In [ ]:
s = "python"
print(s.replace('b','oon'))

### str.rfind(sub)

In [1]:
s = "python programming"
print(s.rfind('o'))

9

### str.index(sub)

In [2]:
s = "python"
print(s.index('o'))

4

In [3]:
s = "python"
print(s.index('a'))

ValueError: substring not found

### str.join(sequence_or_collectiomn_of_items)

In [5]:
s = ['p','y','t','h','o','n']
print("@".join(s))

p@y@t@h@o@n

In [6]:
s = ['p','y','t','h','o','n']
print("".join(s))

python

### str.capitalize()

In [8]:
a='bharat'
a.capitalize()

'Bharat'

### str.istitle()

In [ ]:
s= 'python programming'

In [12]:
s="python"
# L=['p','y','t','h','o','n']
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [15]:
t=2
n=10
for i in range(0,n+1):
    print(t,'*',i,'=',t*i)

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

## Data Structures

In [16]:
li=[1,'abc',45.09]
li

[1, 'abc', 45.09]

In [17]:
# list is a mutable
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
li=[1,'abc',45.09]
li.append(89)
#li.insert(2,34)
print(li)

[1, 'abc', 45.09, 89]

In [25]:
li.insert(2,34)
print(li)

[1, 'abc', 34, 45.09, 89]

In [26]:
li[1]

'abc'

In [27]:
li[1]=23

In [28]:
li

[1, 23, 34, 45.09, 89]

In [29]:
li[3]=44

In [30]:
li

[1, 23, 34, 44, 89]

In [31]:
li.pop()

89

In [32]:
li

[1, 23, 34, 44]

In [33]:
li.pop(1)

23

In [34]:
li

[1, 34, 44]

In [35]:
li.remove(65)

ValueError: list.remove(x): x not in list

In [36]:
li.remove(34)

In [37]:
li

[1, 44]

In [38]:
li.clear()

In [39]:
li

[]

In [40]:
li1=[1,2,3,4]
li1

[1, 2, 3, 4]

In [41]:
del li1

In [42]:
li1 # total variable deleted

NameError: name 'li1' is not defined

In [9]:
li2=[1,2,3,4,65,34,23,25,28]

In [10]:
li2.sort()

In [11]:
li2

[1, 2, 3, 4, 23, 25, 28, 34, 65]

In [12]:
li2.sort(reverse=True)

In [13]:
li2

[65, 34, 28, 25, 23, 4, 3, 2, 1]

In [15]:
li2.reverse()
li2

[65, 34, 28, 25, 23, 4, 3, 2, 1]

In [17]:
cli=li2 # copy of data
print(cli,li2)

[65, 34, 28, 25, 23, 4, 3, 2, 1] [65, 34, 28, 25, 23, 4, 3, 2, 1]

In [18]:
cli.append(354)
cli

[65, 34, 28, 25, 23, 4, 3, 2, 1, 354]

In [19]:
li2

[65, 34, 28, 25, 23, 4, 3, 2, 1, 354]

In [20]:
li2.pop()
li2

[65, 34, 28, 25, 23, 4, 3, 2, 1]

In [22]:
cli2=li2.copy()
print(cli2,li2)

[65, 34, 28, 25, 23, 4, 3, 2, 1] [65, 34, 28, 25, 23, 4, 3, 2, 1]

In [23]:
print(cli2,li2)

[65, 34, 28, 25, 23, 4, 3, 2, 1] [65, 34, 28, 25, 23, 4, 3, 2, 1]

In [24]:
li2.extend(cli2)
li2

[65, 34, 28, 25, 23, 4, 3, 2, 1, 65, 34, 28, 25, 23, 4, 3, 2, 1]

In [25]:
li1=[1,2,3]
li2=[4,5,6]
print(li1,li2)

[1, 2, 3] [4, 5, 6]

In [28]:
li2.extend(li1)
print(li2)

[4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [29]:
li1.append(li2)
li1

[1, 2, 3, 4, 5, 6, [4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]]

In [31]:
li1[6] # access sublist

[4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [34]:
li1[6][2]

6

In [35]:
li=[1,2,2,3,3,4,5,6,7,7,8]
li

[1, 2, 2, 3, 3, 4, 5, 6, 7, 7, 8]

In [38]:
li.count(2)

2

In [58]:
li=[1,2,3,4,5,6,5,4]
print(li)

[1, 2, 3, 4, 5, 6, 5, 4]

In [60]:
l=[8,9,10]
l=l[::-1]
for i in [8,9,10]:
    li.insert(1,i)
print(li)

[1, 10, 9, 8, 2, 3, 4, 5, 6, 5, 4]

In [61]:
li

[1, 10, 9, 8, 2, 3, 4, 5, 6, 5, 4]

In [62]:
print(sum(li),max(li),min(li))

57 10 1

In [63]:
l=list()
l

[]

In [73]:
t= int(input("enter input value: "))
for i in range(t):
    li=list(map(int,input("Give the umbers: ").split()))
    print("The Average of given number is: ",sum(li)//len(li))

enter input value: 1
Give the umbers: 1 2 3
The Average of given number is:  2

In [78]:
s="ayyppa"
s[0:3]

'ayy'

In [82]:
a=list(range(6))
a

[0, 1, 2, 3, 4, 5]

In [83]:
for num in a[::-1]:
    print()

[5, 4, 3, 2, 1, 0]

In [85]:
k=input()
j=int(k)
for i in range(j,0,-1):
    print(i,end=" ")

6
6 5 4 3 2 1

In [76]:
a=int(input())
for i in range(a,0,-1):
    print(i,end=" ")

6
6 5 4 3 2 1

In [48]:
a=input()
a=a.replace(" ",'')
a=a.capitalize()
print(a)

A P S S D C
Apssdc

In [125]:
# another way

characters=input()
word=characters.split()
''.join(word).capitalize()

A P S S D C

'Apssdc'

In [119]:
#Swap the case of all characters in given string except last character
#HellowOrld
#hELLOWoRLd
li=input()
li=li.swapcase()
li=li[0:-1]+li[-1].swapcase()
li

HellowOrld

'hELLOWoRLd'

In [131]:
#3. Print all the words which starts with the given character, If no words matches with the given condition you should print -1
#ramu ravi balu
#r
#ramu
#ravi

words=input().split()
c=input()
match=0
for word in words:
    if word.startswith(c):
        print(word)
        match+=1
if match==0:
    print(-1)

ramu ravi balu
s
-1

In [128]:
#2. Print the maximum length word of given words
#Hai hello world
#hello     # another way
#world
del words
words=input().split()
[print(word) for word in words if max(list(map(len,words)))==len(word)]

hai hello world
hello
world

[None, None]

In [134]:
# 4. Print all the words which words not ends with vowels(a,e,i,o,u)
# ramu ravi balu raju mahesh
# Ans -> mahesh

s=input()
s=s.split()
for i in s:
    z=i.endswith('a')
    print(z)

ramu ravi balu raju mahesh
False
False
False
False
False

In [135]:
#7. Print the number of words in a given string (here word starting character contains UPPER letter)
#HelloWorld
#2 # find how many capital letters are in given string
word=input()
count=0
for char in word:
    if char.isupper():
        count+=1
print(count)

HelloWorld
2

In [139]:
# check given  number is ODD or EVEN

num=int(input())
if (num%2)==0:
    print("Given num is EVEN")
else:
    print("Given num is ODD")

7
Given num is ODD

In [ ]:
g=[i for i in range(10)]
li

In [3]:
li=[i for x in range(10)]
li

NameError: name 'i' is not defined

In [2]:
li=[i for i in range(10)]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
# print square of the numbers
li= [i*i for i in range (10)]
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# print 5 multiples
li= [i*5 for i in range (10)]
li

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [5]:
# print quebes
li= [i**3 for i in range (10)]
li

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [27]:
# print EVEN numbers
li=[i for i in range (0,10,2)]
print(li)

[0, 2, 4, 6, 8]

In [26]:
# print ODD numbers
li=[i for i in range (1,10,2)]
li

[1, 3, 5, 7, 9]

In [24]:
# 5. Print all the words which word contains duplicate characters
# ramu akash balu
# akash

names = input().split()
for name in names:
    for ch in name:
        if name.count(ch)>1:
            print(name)
            break

aakash abdulla sunil
aakash
abdulla

In [46]:
# take value from user and print tables 

t=int(input())
n=10
li=list()
li=list([i for i in range (0,11)])
for i in (li):
    print(t,",",i,',',t*i)

5
5 , 0 , 0
5 , 1 , 5
5 , 2 , 10
5 , 3 , 15
5 , 4 , 20
5 , 5 , 25
5 , 6 , 30
5 , 7 , 35
5 , 8 , 40
5 , 9 , 45
5 , 10 , 50

In [48]:
# take string upper case and display lower case

s=input()
li=[ch.swapcase() for ch in s]
li

sdc

['S', 'D', 'C']

In [ ]:
### take string and count characters

In [1]:
print('hello python')

hello python

In [9]:
a=int(input())
b=int(input())
c=a+b
print(c)

2
2
4

In [11]:
a=float(input())
b=float(input())
c=a+b
print(c)

2.11
3.22
5.33

In [12]:
n=int(input())
char=input()
c=char.replace(' ','')
print(c)

4
o m a r
omar

In [14]:
# 4. Print all the words which words not ends with vowels(a,e,i,o,u)
# ramu ravi balu raju mahesh
# mahesh

a=input()
a=a.split()
k=['a','e','i','o','u']
for j in a:
    for i in k:
        l=j.endswith(i)
        continue
print(j)

ramu ravi balu raju mahesh
mahesh

In [28]:
# 2.print given numbers prime or not.

#### input: --> 5 9
#### output: -->5  True
####            9   False

a=int(input())
b=int(input())
for i in range (a,b+1):
    if i>1:
        for j in range(2,i):
            if(i%j)==0:
              break
        else:
            print(i,end=" ")

2
200
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199